* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #2a2438;
    color: white;
}

body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 8px;
    height: 90%;
}


h1 {
    text-align: center;
    margin: 10px;
}

header {
    background-color: #352f44;
    margin: 0px;
    padding: 8px;
}

main {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%; 
}

#grid-container, main {
    width: 100%;
    background-color:#5c5470;
}

#grid-and-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    border: 2px solid black;
    box-shadow: 3px 3px 15px 3px black;
    margin-left: 20px;
    margin-right: 20px;
}

.buttons-container, .middle-buttons-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 45px;
    height: 450px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.row {
    display: flex;
    width: 450px;
    justify-content: center;
}

.cell {
    flex: 1;
    border: 1px none rgba(0, 0, 0, 0.1);
    background-color: white;
}

.cell:hover {
    background-color:darkslategray;
}

footer {
    text-align: center;
    background-color: #352f44;
    padding: 16px;
    height: 100%;
}

.left-side-buttons, .middle-buttons {
    width: 200px; 
    height: 30px;
    border-style: solid;
    color:white;
    border-width: 1px;
    border-radius: 8px;
    background-color:#352f44;
}

#color-btn {
    background-color: rgb(0, 20, 46);
}

.slidecontainer {
    width: 200px;
    height: 105px;
    margin-top: 40px;
}

.slider {
    width: 100%;
    height: 50px;
    outline: none;
    background: #d3d3d3;
    opacity:0,7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
    background-color: rgb(0, 20, 46);
}

#color-picker {
    color: black;
    padding: 0px;
    border: 0px;
    border-radius: 10%;
    height: 50px;
    width: 50px;
    appearance: none;
    margin-bottom: 8px;
}

#color-picker:hover {
    cursor: pointer;
}

.grid-size-output {
    text-align: center;
}

#color-picker-container {
    width: 200px;
    text-align: center;
    height: 105px;
    margin-top: 40px;
}

#clear-btn:active {
    background-color: #2a2438;
}