
h1 {
    text-align: center;
    margin: 10px;
}

header {
    background-color: #5585b5;
    margin: 0px;
    padding: 8px;
}

main {
    padding-top: 32px;
    padding-bottom: 32px;
}

#grid-container, main {
    width: 100%;
    background-color:#79c2d0;
}

#grid-and-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#left-buttons-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: 2px solid black;
}

#right-buttons-container {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.colors {
    display: flex;
    height: 100%;
    flex-direction: column; 
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.row {
    display: flex;
    width: 600px;
    justify-content: center;
}

.cell {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

.cell:hover {
    background-color:darkslategray;
}

footer {
    text-align: center;
    background-color: #5585b5;
    padding: 32px;
}

body {
    margin: 0;
}

.color-div {
    width: 36px;
    height: 36px;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    border-width: 1px;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.brown {
    background-color: brown;
}

.black {
    background-color: black;
    border-width: 3px;
}

.clear-btn {
    margin: 0, auto;
}

#reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clear-btn {
    width: 100px; 
}

.slidecontainer {
    width: 300px;
}

.slider {
    width: 100%;
    height: 50px;
    outline: none;
    background: #d3d3d3;
    opacity:0,7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
